################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab12_cpp/Prog_lab12_cpp.vcxproj.user
/Prog_lab12_cpp/Prog_lab12_cpp.vcxproj.filters
/Prog_lab12_cpp/Prog_lab12_cpp.vcxproj
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/Browse.VC.opendb
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/Browse.VC.db-wal
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/Browse.VC.db-shm
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/Browse.VC.db
/Prog_lab12_cpp/Debug/vc142.pdb
/Prog_lab12_cpp/Debug/vc142.idb
/Prog_lab12_cpp/Debug/Teacher.obj
/Prog_lab12_cpp/Debug/Student.obj
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/Prog_lab12_cpp.lastbuildstate
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/link.write.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/link.read.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/link.command.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/CL.write.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/CL.read.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.tlog/CL.command.1.tlog
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.pdb
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.log
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.ilk
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.exe.recipe
/Prog_lab12_cpp/Debug/Prog_lab12_cpp.exe
/Prog_lab12_cpp/Debug/main.obj
/Prog_lab12_cpp/Debug/Human.obj
/Prog_lab12_cpp/Debug/Fio.obj
/Prog_lab12_cpp/Debug/Faculty.obj
/Prog_lab12_cpp/Debug/Entrant.obj
/Prog_lab12_cpp/Debug/Cadet.obj
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/f009a3e98e01e5e5/FACULTY.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/e1d57e5adc75605e/STUDENT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/cefc4d28d26c1068/HUMAN.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/c435a03b4520f2ff/ENTRANT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/ab8d51cd69f4dc80/MAIN.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/a87512d2da56d867/FIO.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/97c2fae1577597d0/CADET.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/8f5cbe8bb235ab1/STUDENT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/6abf4f45f643d3b4/CADET.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/693ed6efe77d8dcb/TEACHER.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/3eb0d8112949d8ca/ENTRANT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/31c51def9c935d97/ENTRANT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/.suo
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/f30ea0b1b0276224/SOURCE.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/907012c18e7c26bb/ASSISTANT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/7e21af3c9434fda9/HEADER.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/5605345012716306/ASSISTANT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/48eaecbfa9e39ada/STAFFMEMBER.ipch
/Prog_lab12_cpp/Debug/StaffMember.obj
/Prog_lab12_cpp/Debug/Source.obj
/Prog_lab12_cpp/Debug/Docent.obj
/Prog_lab12_cpp/Debug/Assistant.obj
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/f71c6a9215226a73/DOCENT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/f3f692e3d1e0b811/STAFFMEMBER.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/efcfcf7ec38017ae/DOCENT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/a6be3e73000d7d96/DOCENT.ipch
/Prog_lab12_cpp/.vs/Prog_lab12_cpp/v16/ipch/AutoPCH/4640a2b6dd250a6d/ASSISTANT.ipch
/Prog_lab12_csharp/Prog_lab12_csharp.csproj
/Prog_lab12_csharp/obj/Debug/Prog_lab12_csharp.csproj.AssemblyReference.cache
/Prog_lab12_csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Prog_lab12_csharp/App.config
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/.suo
/Prog_lab12_csharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Prog_lab12_csharp/obj/Debug/Prog_lab12_csharp.pdb
/Prog_lab12_csharp/obj/Debug/Prog_lab12_csharp.exe
/Prog_lab12_csharp/obj/Debug/Prog_lab12_csharp.csproj.FileListAbsolute.txt
/Prog_lab12_csharp/obj/Debug/Prog_lab12_csharp.csproj.CoreCompileInputs.cache
/Prog_lab12_csharp/bin/Debug/Prog_lab12_csharp.pdb
/Prog_lab12_csharp/bin/Debug/Prog_lab12_csharp.exe.config
/Prog_lab12_csharp/bin/Debug/Prog_lab12_csharp.exe
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/7488a9660a3ce00c/CADET.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/6c3911e595056085/CADET.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/Browse.VC.opendb
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/Browse.VC.db-wal
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/Browse.VC.db-shm
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/Browse.VC.db
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/ef08061f56516358/STUDENT.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/a0e155b9acfb424a/CADET.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/6fc8fd5914c89c87/ASSISTANT.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/69d38928da7cd6a0/DOCENT.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/5b8c0fa4de7299bd/STAFFMEMBER.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/47dfa833b60e4c6f/STAFFMEMBER.ipch
/Prog_lab12_csharp/.vs/Prog_lab12_csharp/v16/ipch/AutoPCH/2a4b4e4529443b52/STAFFMEMBER.ipch
